.header{
    color:#d26c22;
}
.align{
    text-align: center;
}
.grey{
    background-color: #c7c9ca;
}
.date{
    background-color: #d26c22;
}
::ng-deep .p-button {
    background-color: #d26c22;
    color: white;
    border-radius: 3px;
    border-color: #d26c22;
  
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
  }
@media (min-width: 300px) and (max-width: 767px) {
    .tablealign{
        margin: 0px 40px;
    }
    
  }