.header{
    text-align: center;
    color:#d26c22;
}
.margin{
    margin-top: 20px;
    text-align: center;
}
.save{
    background-color:#d26c22;
    color: white;
    border-radius: 3px;
}
.ant-table-thead > tr > th .grey{
    background-color: grey;
}
.date{
    background-color: #d26c22;
}
.tablespace{
    margin-right: 10px;
}
.total{
    padding-left: 150px;
}
@media (min-width: 300px) and (max-width: 767px) {
    .search {
     margin-bottom: 20px;
     width: 64%;
    }
    .save{
        width: 50%;
    }
    .total{
        padding: 30px;
    }
  }